<!-- app/templates/main.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
</head>
<body>
    <h1>Calendar working</h1>
    <form method="post" action="/">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.start_date.label }}<br>
            {{ form.start_date() }}
        </p>
        <p>
            {{ form.start_time.label }}<br>
            {{ form.start_time() }}
        </p>
        <p>
            {{ form.end_date.label }}<br>
            {{ form.end_date() }}
        </p>
        <p>
            {{ form.end_time.label }}<br>
            {{ form.end_time() }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(rows=4, cols=40) }}
        </p>
        <p>
            {{ form.private.label }}<br>
            {{ form.private() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>{{ appointment[1] }}</td>
                <td>{{ appointment[2].strftime("%H:%M") }}</td>
                <td>{{ appointment[3].strftime("%H:%M") }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>